!!!
%html{:lang => "en"}
  %head
    %title Sample: Meta Generated Site
    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "css/stylesheet.css"}

  %body
  
    = yield

