%div.navbar.navbar-static-top
  %div.navbar-header
    %a.navbar-brand{:href => "index.html"}
      Sample: Meta Generated Site
    %ul
      %li
        %a{:href => "", :class => "active"} home
      %li
        %a{:href => ""} blog
      %li
        %a{:href => ""} about

